* {
  margin: 0;
  padding: 0;
}

/* VARIAVEIS DE CORES */

:root {
  --primaria: #2a59e4;

  --secundaria: #67d43c;
}

body {
  background: linear-gradient(
    125deg,
    rgb(61, 61, 61) 17%,
    rgb(99, 99, 99) 50%,
    rgb(150, 150, 150) 100%
  );
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1920px;

  color: #fff;
  font-family: poppinsregular;
  overflow: hidden;
}

/* HEADER */
header .container {
  min-height: 10vh;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin-left: 10%;
}

#home {
  min-height: 90vh;
}
main .container {
  align-items: center;
}

.agora {
  font-family: poppinsmedium;
  font-weight: bold;
  font-size: 1.2rem;
  color: var(--primaria);
  border-bottom: 1px solid var(--primaria);
}
.navBar ul,
a {
  text-decoration: none;
  list-style: none;
  display: inline-block;
  margin: 20px;
  color: #fff;
  transition: 0.5s all;
}
a:nth-child(5) {
  padding: 7px 12px;
  /* border: 2px solid rgb(132, 14, 201); */
  border: 2px solid var(--primaria);
  border-radius: 15px;
  transition: 0.85s;
}
a:nth-child(5):hover {
  color: #fff;
  background-color: var(--primaria);
}
a:hover {
  color: var(--primaria);
}

.title {
  line-height: 35px;
}

aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
h1 {
  font-weight: 800;
}

h2 {
  font-family: poppinsmedium;
  font-size: 56px;
  font-weight: 600;
  line-height: 60px;
}

span {
  color: var(--primaria);
}

p {
  font-family: poppinslight;
  line-height: 40px;
  max-width: 700px;
}
article {
  display: flex;
  align-self: center;
}
img {
  height: 450px;
}

@keyframes float {
  0%,
  100% {
    transform: translatey(0);
  }

  50% {
    transform: translatey(-10px);
  }
}

form {
  display: flex;
  flex-direction: column;
  width: 60%;
}

form [type='submit'] {
  font-family: poppinsmedium;
  font-size: 20px;
  height: 50px;
  width: 50%;
  background-color: var(--primaria);
  color: white;
  font-weight: bold;
  transition: 0.85s;
}
form [type='submit']:hover {
  cursor: pointer;
  border: 2px solid var(--primaria);
  background-color: transparent;
}
input {
  margin-top: 20px;
  height: 20px;
  padding: 15px;
  border-radius: 25px;
  border: none;
  font-size: 15px;
  outline: none;
}

.mouseScroll {
  position: absolute;
  top: 860px;

  margin-bottom: 1px;
  right: 47.4%;
  animation: float 6s ease-in-out infinite;
  transition: 1s;
  max-height: 55px;
}

.mouseScroll ion-icon {
  color: var(--primaria);
  height: 55px;
  width: 55px;
  visibility: visible;
}
